<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.qarepo.TestNGListener"/>
    </listeners>
    <test name="Example - Sample Tests: Google Search and Sign-in, Link checks">
        <parameter name="browser" value="Google Chrome"/> <!-- Change to run different browsers, e.g. value="Google Chrome Headless"" -->
        <parameter name="URL" value="https://www.google.com/"/>
        <groups>
            <run>
                <include name="search"/>
                <include name="sign-in"/>
                <exclude name="site-links"/>
            </run>
        </groups>
        <packages>
            <package name="com.qarepo.*" />
        </packages>
    </test>
</suite>
